<footer class="bg-emerald-700 text-emerald-100 py-12">
    <div class="container mx-auto px-4">
        <div class="grid md:grid-cols-2 gap-x-12">

            <div class="w-full lg:w-3/4 flex flex-col items-center mb-4 md:mb-0">
                <img src="/logo.png" alt="logo" class="w-80 h-40 mb-6" />
                <h5 class="text-base sm:text-lg font-semibold mb-4 font-lora text-white">
                    {`Este proyecto fue desarrollado para la materia Pastos y Forrajes 
                    del PNF en Medicina Veterinaria de la Universidad Nacional Experimental Simón Rodríguez
                    como parte de una actividad académica`}
                </h5>
            </div>
            <div class="flex flex-col">
                <h5 class="text-base sm:text-lg font-semibold mb-6 md:mb-10 font-lora text-white">
                    Colaboradores del sitio
                </h5>
                 <div class="flex flex-row flex-wrap gap-x-8">
                    <div class="w-full sm:w-1/2 mb-6 lg:mb-0">
                        <h5 class="text-base sm:text-lg font-semibold mb-2 text-white">Investigación y redacción</h5>
                        <ul class="space-y-2 text-base">
                            <li>Alejandro Arias</li>
                            <li>Virson Arzola</li>
                            <li>Jaynet Contreras</li>
                            <li>Valeria Domínguez</li>
                            <li>Roxana Romero</li>
                        </ul>
                    </div>
                    <div>
                        <h5 class="text-base sm:text-lg font-semibold mb-2 text-white">Desarrollo</h5>
                        <p class="text-base">Rosiris Romero</p>
                        <a class="mr-2 items-center flex flex-row gap-x-2" href="https://portfolio-rosiris.vercel.app/">
                            <span class="text-base">Visita mi sitio web</span>
                            <span class="material-icons">launch</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center text-emerald-300 text-sm mt-10 border-t border-emerald-600 pt-8">
            Herbario digital 2025
        </div>
    </div>
</footer>