<div class="bg-emerald-600 text-white text-sm text-center py-2">
        
</div>
<header class="bg-white shadow-sm">
    <div class="container mx-auto px-4 py-4 flex justify-between items-center">
        <div class="flex items-center">
            <!-- <div class="w-10 h-10 bg-emerald-500 rounded-full mr-3 flex items-center justify-center">
                <span class="material-icons text-white">eco</span>
            </div> -->
            <span class="text-xl font-semibold text-emerald-700 font-lora">
                Herbario digital
            </span>
        </div>
        <nav class="hidden md:flex space-x-6 text-gray-600">
            <a class="hover:text-emerald-600" href="#home">Home</a>
            <a class="hover:text-emerald-600" href="#plantas">Plantas</a>
            <a class="hover:text-emerald-600" href="#rasgos-comunes">Rasgos comunes</a>
            <a class="hover:text-emerald-600" href="#message">Conclusión</a>
        </nav>
        <!-- <div class="flex items-center space-x-4">
            <a class="text-gray-600 hover:text-emerald-600" href="#">Support</a>
            <a class="text-gray-600 hover:text-emerald-600" href="#">
                <span class="material-icons">person_outline</span>
            </a>
            <a class="text-gray-600 hover:text-emerald-600" href="#">
                <span class="material-icons">shopping_bag_outline</span>
            </a>
        </div> -->
    </div>
</header>