<section class="relative bg-gray-100 py-10 md:py-20 lg:py-32">
    <div class="absolute inset-0">
        <img alt="Various potted plants on shelves and a light background" class="w-full h-full object-cover opacity-30" src="https://lh3.googleusercontent.com/aida-public/AB6AXuD2y6qL7RBTderVPu3J6_iKmViZa5oWHHbLenZjf_TwNdyoehaxpIZkZ9gBlVtkzpfhv9An9SPWvgMFtLup_Cjt7NKCwJwI6-CtpmsJhpQC2MGnVU9stB9XKwbBxmy2TMiBDhCHHAu7Q2U75rsz29zhMqGnVf9LAQ7DJl4N7oUv39q025Qul97cCOG-rPa0mk9FaghJ2h-jBoWlfKGYrIhakkVTfDxGnYW7vpYDupDURF1HqB1LtT3TBpsv90AqdhnebjtuVBje"/>
    </div>
    <div class="container mx-auto px-4 relative z-10 flex flex-col items-start">
        <div class="max-w-xl text-left">
            <h1 class="text-5xl md:text-6xl lg:text-7xl font-lora text-emerald-800 mb-8 leading-tight">
                Step inside, for comfort and magic await you.
            </h1>
            <!-- <a class="bg-emerald-500 hover:bg-emerald-600 text-white font-semibold py-3 px-8 rounded-md text-lg transition duration-300" href="#plants">
                Shop Now
            </a> -->
        </div>
    </div>
    <!-- <div class="absolute bottom-8 left-1/2 transform -translate-x-1/2 flex space-x-2 z-10">
        <button class="w-3 h-3 bg-emerald-700 rounded-full focus:outline-none"></button>
        <button class="w-3 h-3 bg-gray-300 hover:bg-gray-400 rounded-full focus:outline-none"></button>
        <button class="w-3 h-3 bg-gray-300 hover:bg-gray-400 rounded-full focus:outline-none"></button>
        <button class="w-3 h-3 bg-gray-300 hover:bg-gray-400 rounded-full focus:outline-none"></button>
        <button class="w-3 h-3 bg-gray-300 hover:bg-gray-400 rounded-full focus:outline-none"></button>
    </div> -->
</section>