<section class="py-16 bg-white" id="#">
    <div class="container mx-auto px-4 text-center">
        <h2 class="text-3xl font-lora text-emerald-700 mb-8">
            Conservando saberes, cultivando futuro.
        </h2>
        <p class="text-gray-700 max-w-2xl mx-auto leading-relaxed mb-6">
            {`Este herbario digital nació como una tarea académica, pero floreció 
            como una manifestación de nuestro compromiso con la naturaleza, 
            la educación y el desarrollo.`}
        </p>
    </div>
</section>