---
import type { Plant } from "../types";
import { plants } from "../data";
import PlantItem from "./PlantItem.astro";
---
<section class="py-16 bg-[#DAF2E5]" id="plantas">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-lora text-emerald-700 text-center mb-12">
            Nuestro catálogo de plantas
        </h2>
        <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8">
            {plants.map((plant: Plant) => (
                <PlantItem plant={plant} />
            ))}
        </div>
    </div>
</section>