---
import { tips } from "../data/tips"
import TipItem from "./TipItem.astro"
---

<section class="py-16 bg-emerald-50" id="care">
    <div class="container mx-auto px-4">
        <h2 class="text-3xl font-lora text-emerald-700 text-center mb-12">Datos curiosos</h2>
        <div class="grid md:grid-cols-2 gap-8 items-center">
            <div>
                <img alt="Hands watering a small plant" class="rounded-lg shadow-lg w-full" src="https://lh3.googleusercontent.com/aida-public/AB6AXuAk_2zhzopUrfDLVbrdKPoLVW0f5z_A_QD4xQoK5p3_SrbYZLZe6mXFrdrnxwKMhPESICNUoCRtOG3D0AfKQJ544kQEeD1dKvjGVU14kGaZ0Cut2sct9qnwYDOZNR0L-fsQZAoy1zMe32YMtbfH8JZp7O4hFmDKsOEFIDJ3Gcs32wa-rHgqojrlhGWymqMZS1yZshAqBAW-FcDQYZgSZD-uN3Ml2VdYraKCshAwHJUhrQ1qb_QQuZiGrUuo3JTwBBvEjsq3Dsxq"/>
            </div>
            <div class="space-y-6">
                {tips.map((tip) => (
                    <TipItem tip={tip} />
                ))}
                
            </div>
        </div>
    </div>
</section>


<!-- <div class="flex items-start">
                    <span class="material-icons text-emerald-600 text-3xl mr-4">water_drop</span>
                    <div>
                        <h4 class="text-xl font-semibold text-emerald-700 mb-1">Watering Guide</h4>
                        <p class="text-gray-600">Understand the specific watering needs of your plants. Overwatering is a common mistake!</p>
                    </div>
                </div>
                <div class="flex items-start">
                    <span class="material-icons text-emerald-600 text-3xl mr-4">light_mode</span>
                    <div>
                        <h4 class="text-xl font-semibold text-emerald-700 mb-1">Light Requirements</h4>
                        <p class="text-gray-600">Different plants need different amounts of light. Find the perfect spot for each.</p>
                    </div>
                </div>
                <div class="flex items-start">
                    <span class="material-icons text-emerald-600 text-3xl mr-4">eco</span>
                    <div>
                        <h4 class="text-xl font-semibold text-emerald-700 mb-1">Soil &amp; Nutrients</h4>
                        <p class="text-gray-600">Use the right soil mix and consider occasional fertilizing for healthy growth.</p>
                    </div>
                </div> -->