---
import Header from "./Header.astro"
import Home from './Home.astro'
import Plants from './Plants.astro'
import Tips from './Tips.astro'
import Phrase from './Phrase.astro'
import Footer from './Footer.astro'
---

<Header />

<main id="home">
    <Home />
    <Plants />
    <Tips />
    <Phrase />
</main>

<Footer />

<style>


	
</style>
