<!-- <div class="bg-teal-100 flex items-center justify-center min-h-screen"> -->
 <section class="bg-emerald-600 flex items-center justify-center py-16" id="#">
    <!-- <div class="container mx-auto px-4 text-center"> -->
        <div class="bg-[#E7FFCE] rounded-xl shadow-lg p-8 md:p-12 max-w-3xl w-full mx-6 sm:mx-10 lg:mx-auto">
            <blockquote class="text-center">
                <p class="text-xl sm:text-2xl md:text-3xl font-playfair font-medium text-green-700">
                    Una colección educativa pensada para promover el conocimiento de las especies vegetales
                </p>
            </blockquote>
        </div>
    <!-- </div> -->
</section>