---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/plants_favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>Herbario digital</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<link href="https://fonts.googleapis.com" rel="preconnect"/>
		<link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect"/>
		<link href="https://fonts.googleapis.com/css2?family=Lora:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet"/>
	</head>
	<body class="bg-emerald-50">
		<slot />
	</body>
</html>

<style>
	html{
		scroll-behavior: smooth;
	}
	body {
		font-family: 'Poppins', sans-serif;
	}
	.font-lora {
		font-family: 'Lora', serif;
	}
</style>
